{% extends 'base.html.twig' %}

{% block body %}

    <div id="modalWindow" class="modal">
        <p id="note"></p>
        <a href="#" rel="modal:close">Close</a>
    </div>

    <a href="{{path('add')}}"><button>Přidání kontaktu</button></a>
    <table>
        <thead>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Telfonní číslo</th>
            <th>Email</th>
            <th>Poznámka</th>
            <th>Editace</th>
            <th>Mazání</th>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
            
                <td data-id="{{contact.id}}" class="showNote">{{contact.firstname}}</td>
                <td>{{contact.lastname}}</td>
                <td>{{contact.pnumber}}</td>
                <td>{{contact.email}}</td>
                <td>
                    {% set slug = contact.slug ~ '-' ~ contact.id %}
                    <a href="{{path('edit', {slug: slug})}}" style="background-color:green;width:10px;height:10px;display:block;">
                </td>
                <td>
                    <a href="{{path('remove', {id: contact.id})}}" style="background-color:red;width:10px;height:10px;display:block;">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% block js_script %}
    <script>

        $(".showNote").on("click", function(){
            event.preventDefault();
            this.blur(); // Manually remove focus from clicked link.
            $.get('/getNote/'+$(this).data('id'), function(data) {
                $('#note').text(data);
                $('#modalWindow').modal();
            });
        });
    </script>
{% endblock %}
